In [1]:
import pandas as pd

In [2]:
min_definition = pd.read_excel("./../data/interim/min-definition_2020-05-31.xlsx")
max_definition = pd.read_excel("./../data/interim/max-definition_2020-05-31.xlsx")
fully_covered  = pd.read_excel("./../data/interim/fully-covered-definition_2020-05-31.xlsx")

In [3]:
result = pd.concat([min_definition, fully_covered, max_definition], ignore_index=True)
result

,year,iso3,stateness,successful_transition,approach,proxy_score
0,2000,SRB,87.383146,1,lowest common denominator,NaN
1,2003,GEO,45.710637,1,lowest common denominator,NaN
2,2004,UKR,34.936429,1,lowest common denominator,NaN
3,2005,KGZ,11.023552,0,lowest common denominator,NaN
4,2009,MDA,15.703799,0,lowest common denominator,NaN
5,2010,KGZ,15.739882,0,lowest common denominator,NaN
6,2014,UKR,49.303153,1,lowest common denominator,NaN
7,2000,SRB,91.777117,1,fully covered,7.342169
8,2003,GEO,43.441524,1,fully covered,3.475322
9,2004,UKR,58.979729,1,fully covered,4.718378
10,2005,KGZ,27.367605,0,fully covered,2.189408
11,2009,MDA,30.372350,0,fully covered,2.429788
12,2010,KGZ,28.415764,0,fully covered,2.273261
13,2014,UKR,58.515209,1,fully covered,4.681217
14,2000,SRB,54.725112,1,max definition,7.661516
15,2003,GEO,29.298443,1,max definition,4.101782
16,2004,UKR,52.961388,1,max definition,7.414594
17,2005,KGZ,27.758666,0,max definition,3.886213
18,2009,MDA,34.497050,0,max definition,4.829587
19,2010,KGZ,23.828700,0,max definition,3.336018
20,2014,UKR,47.788615,1,max definition,6.690406

In [4]:
result.to_excel("./../data/processed/stateness.xlsx", index=False)